.container>div {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: Black;
}

body {
  margin: 0;
}

html, body {
  background-color: Black;
  height: 100%;
  padding: 10px;
  margin: 10px;
}

.container>div:nth-child(1) {
  background-color: #FFD700;
}

.container>div:nth-child(2) {
  background-color: #00FFFF;
}

.container>div:nth-child(3) {
  background-color: #FFD700;
}

.container>div:nth-child(4) {
  background-color: #00FFFF;
}


.container {
  border: 5px solid #ffcc5c;
  display: flex;
  height: 100%;
  align-items: center;
}

.logout {
  align-self: flex-start;
}

.home {
  align-self: flex-end;
}
