.item1 {
  grid-area: header;
}

.item2 {
  grid-area: space;
}

.item3 {
  grid-area: nav;
}

.item4 {
  grid-area: con;
}

.item5 {
  grid-area: footer;
}

.item6 {
  grid-area: about;
}

.item7 {
  grid-area: index;
}

.grid-container {
  display: grid;
  grid-template-areas: 'header header header header header header' 'nav nav about about index index' 'space con con con con con' 'space footer footer footer footer footer';
  grid-gap: 10px;
  background-color: Maroon;
  padding: 10px;
}

.grid-container>div {
  background-color: Cyan;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}